<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <style>
        body{background: lightgray;}
    </style>
</head>


<body>

<br><br>

<div align="center">
    <a class="register" href="registration">
        曲の新規登録を行う
    </a>
</div>

<br><br>

<div align="center">

    <table border="1">
        <caption>登録済みの曲</caption>
        <tr>
            <th>ID</th>
            <th>曲名</th>
            <th>歌手名</th>
            <th>歌詞</th>
        </tr>
        <% boardList.forEach(function (value) { %>
        <tr>
            <td><%= value["id"] %></td>
            <td><%= value["title"] %></td>
            <td><%= value["singer"] %></td>
            <td><%= value["lyric"] %></td>
        </tr>
        <% }); %>
    </table>

</div>
</body>
</html>