<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>登録済み曲表示画面</title>
    <style>
        body {
            background: lightgray;
        }

        .divForReference {
            background-color: silver;
        }
    </style>
</head>


<body>

<br>
<div class="divForReference" align="center">
    <form action="./" method="get">
        <table>
            <tr>
                <td>曲名：</td>
                <td><input type="text" name="title" style="margin-right: 20px"></td>
                <td style=color:red></td>
            </tr>
            <tr>
                <td>歌手名：</td>
                <td><input type="text" name="singerName" style="margin-right: 20px"></td>
                <td style=color:red></td>
            </tr>
        </table>
        <input type="submit" value="登録済み曲を検索">
    </form>
    <% if (boardList.length == 0){ %>
    <p>検索結果がありません</p>
    <% } %>
</div>
<div align="center">
    <a class="register" href="registration/">
        曲の新規登録を行う
    </a>
</div>
<br>
<% if (boardList.length != 0){ %>
<div align="center">
    <table border="1">
        <caption><b>登録済みの曲</b></caption>
        <tr>
            <th>#</th>
            <th>曲名</th>
            <th>歌手名</th>
            <th>歌詞</th>
        </tr>
        <% boardList.forEach(function (value) { %>
        <tr>
            <td><a name="anchor<%= value["id"] %>"><%= value["id"] %></a></td>
            <td><a><%= value["title"] %></a></td>
            <td><%= value["name"] %></td>
            <td><%= value["lyric"] %></td>
        </tr>
        <% }); %>
    </table>
</div>
<% } %>
</body>
</html>
